<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="MySqlSchema" type="org.mysql2sforce.metamodel.MySqlSchema"/>
        <typeAlias alias="MySqlTable" type="org.mysql2sforce.metamodel.MySqlTable"/>
    </typeAliases>

    <mappers>
        <mapper class="org.mysql2sforce.metamodel.MySqlMapper"/>
        <mapper resource="mysql-metadata-mapper.xml"/>
    </mappers>


</configuration>